{% extends "CitiesBundle::layout.html.twig" %}

{% block main_content %}
    <div class="col-sm-12">
        <h1>{{ ville.name }}</h1>
    </div>
    <!-- todo Appel des iframes -->
    <div class="col-sm-12">
        {% set regionSlug = ville.region ? ville.region.slug : '' %}
        {% set departementSlug = ville.departement ? ville.departement.slug : '' %}
        <a type="button" class="btn btn-default btn-lg" href="{{ url("cities_post_avis",{departementSlug: departementSlug, villeSlug: ville.slug, idville: ville.id}) }}">
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Deposer un avis sur {{ ville.name }}
        </a>
    </div>
{% endblock %}