<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Project Cities{% endblock %}</title>
        {% stylesheets 'bundles/cities/css/*' filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% block stylesheets_custom %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
            {% block header_menu %}{% endblock %}
            {% block left_menu %}
            {% endblock %}
            {% block main_content %}{% endblock %}
        {% endblock %}


        {% javascripts
            '@CitiesBundle/Resources/public/js/jquery-3.1.0.min.js'
            '@CitiesBundle/Resources/public/js/jquery-ui.min.js'
            '@CitiesBundle/Resources/public/js/bootstrap.min.js'
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% block javascripts %}{% endblock javascripts %}

    </body>
</html>
