{% extends "CitiesBundle::layout.html.twig" %}

{% block main_content %}
    <div class="col-sm-12">
        <h1>Erreur Page 404</h1>
    </div>
    <div class="col-sm-12">
        <div class="alert alert-danger">
            <strong>Erreur 404</strong> {{ message }}
        </div>
    </div>
{% endblock %}