{% extends "::base.html.twig" %}

{% block title %}CitiesBundle:Avis:liste{% endblock %}

{% block body %}
<h1>Welcome to the Avis:liste page</h1>
    <!--
        todo Afficher une carte google maps avec les villes > 100 000 hbts
        liens vers leur page Avis
    -->
{% endblock %}
