<div class="col-sm-6">
    <button id="menu-toggle" type="button" class="btn btn-info" aria-label="Left Align">
        <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
    </button>
</div>
<div class="col-sm-6">
    <div class="input-group col-sm-4 pull-right">
        <input type="text" class="form-control" placeholder="Search for..." aria-label="Search for...">
        <span class="input-group-btn">
            <button class="btn btn-secondary" type="button">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </button>
        </span>
    </div>
</div>